
.textback{
    color: white;
    margin: 10px 10px 10px 60px;
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.loginbox {
    background-color: rgb(2, 73, 86);
    color: rgb(255, 255, 255);
    transform: translate(90%, -50%);
    position: fixed;
    top: 50%;
    margin-left: 400px;
    padding: 70px 30px 30px;
    width: 30%;
}

.cup {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 60px);
}

h3 {
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 22px;
    color: white;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid black;
}

.loginbox button {
    border: none;
    background-color: #ffffff;
    color: #00002f;
    margin-left: 38%;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}
.loginbox button:hover{
    background-color: #00002f;
    color: white;}
@media screen and (max-width: 800px) {
    body {
        width: 100%;
        /* The width is 100%, when the viewport is 800px or smaller */
    }
}